* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* defnimos el tipo y color de la fuete */
  font-family: serif;
  color: black;
  background-color: white;

}
/* Centramos el titulo del encabezado */
.title{
  text-align: center;  
}
/* justificamos todos los parrafos*/
p {
  text-align: justify;
  
}

/* estilo para la barra de navegacion */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
  font-size: 13px;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}


/* Define la animación de rotación */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Aplica la animación de rotacion a las imagenes de la pagina index.html*/
.spin-image {
  animation: spin 2s linear infinite;
  width: 300px; /* Define el ancho de la imagen en 500 píxeles */
  height: 200px;
  display: block; /* Permite establecer el ancho y margen */
  margin: 0 auto; /* Establece los márgenes laterales en automático para centrar horizontalmente */
  
}
/*  aplicamos tamanio solo a la imagen html de la pagina index.html  */
#image-html{

  width: 200px; 
  height: 200px;

}

.content-border{
  
  background-color: #fff;
  padding: 10px;
  border: 5px solid darkgrey;
  border-radius: 10px;
}

/*animacion cambio de color al texto*/
@keyframes color-change {
  0% { color: black; }
  100% { color: blue; }


}

/*Para la pagina de estrucutra de pagina web (page1.html)*/
/* Aplicamos la animación solo al texto de HTML */
#text-html {
  animation: color-change 3s infinite;
  font-weight: bold;
  font-size: 1rem;
}

/* para los logos de HTML, CSS y JS de la pagina page1.html*/
.logo-web{
  float: left;
  margin-right: 20px;
  /* animation: spin 2s linear infinite; */
  width: 140px;
  height: 160px;

}

/* Estilo para que las imagenes se hagan mas grandes al pasar el mouse*/

.zoom-image {

  display: block; /* Permite establecer el ancho y margen */
  margin: 0 auto; /* Establece los márgenes laterales en automático para centrar horizontalmente */
  /* animation: spin 0s linear infinite; */
  transition: transform 0.3s ease-in-out; /* La transición durará 0.3 segundos */
}

.zoom-image:hover,
.zoom-image:focus {
 
  transform: scale(1.2); /* La imagen se hace un 20% más grande al hacer clic */
}

#big-image{
  display: block; /* Permite establecer el ancho y margen */
  margin: 0 auto; /* Establece los márgenes laterales en automático para centrar horizontalmente */
  /* animation: spin 0s linear infinite; */
  transition: transform 0.3s ease-in-out; /* La transición durará 0.3 segundos */
  height: 500px;
  width: 600px;
}
#big-image:hover,
#big-image:focus {
 
  transform: scale(1.2); /* La imagen se hace un 20% más grande al hacer clic */
}


.header {
  background-color:darkgrey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.content{
  margin-top: 200px;
  padding: 1rem;
  float: center;
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
  background-color: #fff;
  z-index: 0;
  /* width: 1500px;
  height: 1000px; */
}


@keyframes mover {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px);
  }
}

#mi-lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#mi-lista li {
  animation-name: mover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


/* Centramos el formulario */
form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

/* Estilos para los campos de texto */
input[type="text"], input[type="email"], input[type="tel"] {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  max-width: 100%;
}

/* Estilo para el botón */
input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: darkgray;
  color: #000;
  border: none;
  cursor: pointer;
}
